.message {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
}

.message-sent {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    justify-content: flex-end;
}

.sent-message-avatar {
    order: 2;
}

.receive-message-avatar {
    cursor: pointer;
}

.message-wrapper {
    background-color: var(--color-tertiary);
    padding: 10px;
    border-radius: 16px;
    box-sizing: border-box;
    max-width: 60%;
}

.receive-message-wrapper {
    border-top-left-radius: 0;
}

.sent-message-wrapper {
    border-top-right-radius: 0;
    background-color: var(--color-secondary);
}

.delete-message-wrapper {
    color: white;
    border-radius: 5px;
}

.message-username {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
}

.sent-message-username {
    justify-self: flex-end;
    margin-bottom: 5px;
}

.reply-tag {
    background-color: var(--color-highlight);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sent-reply-tag {
    background-color: var(--color-reply);
}

.reply-tag-username {
    text-transform: uppercase;
}

.message-text {
    padding: 5px 0;
}

.message-time {
    justify-self: flex-end;
    margin-left: 40px;
}

.selected-for-reply-message {
    border: 1px solid var(--color-primary);
}

.message-context-menu {
    position: fixed;
    background-color: var(--color-dark);
    z-index: 999;
    padding: 0;
    list-style: none;
    width: 150px;
    border-radius: 5px;
}

.message-context-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.message-context-menu-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.message-context-menu-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.message-context-menu li:hover {
    background-color: var(--color-highlight);
}

#sent-message-tag {
    color: white;
}

.sent-message-tag {
    color: white;
}

.edited-tag {
    justify-self: flex-end;
    margin-bottom: 5px;
    color: var(--color-secondary);
}

.recieved-message-tag {
    justify-self: flex-start;
}

.message-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-image-file {
    width: 300px;
    height: auto;
    border-radius: 16px;
    cursor: pointer;
}

.image-in-reply {
    width: 50px;
}

.chat-video-file {
    width: 100%;
    border-radius: 16px;
}

.chat-generic-file {
    padding: 10px 15px;
    background-color: var(--color-highlight);
    border-radius: 8px;
    display: inline-block; 
    margin: 5px 0;
  }
  
  .chat-generic-file a {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
  }
  
  .chat-generic-file a:hover {
    text-decoration: underline;
  }

.chat-reply-image-file {
    height: 50px;
}

.chat-reply-video-file {
    height: 50px;
}

.chat-reply-generic-file a {
    color: #007bff;
}