:root {
    --font-text: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    --color-primary: #9116f655;
    --color-secondary: #9116f699;
    --color-reply: #9116f6ff;
    --color-tertiary: #111;
    --color-hover: #111;
    --color-highlight: #333;
    --color-dark: #050505;
}