.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: var(--color-tertiary);
    box-sizing: border-box;
}

.chat-header-img-name-div {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.chat-back-button {
    background-color: transparent;
    border: none;
}

.show-on-phone {
    display: none;
}

.flex {
    display: flex;
}

@media (max-width: 568px) {
    .show-on-phone {
        display: block;
    }
}

.chat-back-icon {
    color: white;
}

.chat-header-name {
    margin: 0;
    margin-left: 10px;
    text-transform: uppercase;
}

.chat-header-icons-div {
    display: flex;
    align-items: center;
}

.chat-header-icon {
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
}

.chat-header-icon:hover {
    transform: scale(1.2);
}

.call-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: var(--color-tertiary);
    padding: 20px; 
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    z-index: 1000; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    min-width: 280px; 
    max-width: 90%;   
    box-sizing: border-box;
}

.call-dialog-caller-div {
    display: flex;
    gap: 15px; 
    align-items: center;
}

.call-dialog-caller-div img.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.call-dialog-caller-div h4 {
    margin: 0;
    font-size: 1.1em; 
    word-break: break-word; 
}


.call-dialog-buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 10px;
}

.call-dialog-button {
    padding: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent; 
    transition: all 0.2s ease-in-out;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.call-dialog-button.accept-call-button:hover {
    background-color: rgba(0, 255, 0, 0.1);
}
.call-dialog-button.reject-call-button:hover {
    background-color: rgba(255, 0, 0, 0.1);
}


.call-dialog-button .call-icon { 
    transition: transform 0.2s ease-in-out; 
}

.call-dialog-button:hover .call-icon {
    transform: scale(1.2); 
}
