.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: var(--color-tertiary);
}

.chat-header-img-name-div {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.chat-back-button {
    background-color: transparent;
    border: none;
}

.show-on-phone {
    display: none;
}

.chat-back-icon {
    color: white;
}

.chat-header-name {
    margin: 0;
    margin-left: 10px;
    text-transform: uppercase;
}

.chat-header-icons-div {
    display: flex;
    align-items: center;
}

.chat-header-icon {
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    cursor: pointer;
}

.chat-header-icon:hover {
    transform: scale(1.2);
}

.call-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);

    background-color: var(--color-tertiary);
    padding: 10px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    z-index: 100;
}

.call-dialog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.call-dialog-button {
    padding: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    transition: all 0.2s ease-in-out;
}

.call-dialog-button:hover {
    background-color: var(--color-primary);
}

.call-dialog-button:hover .call-icon {
    transform: scale(1.5);
}

.call-dialog-caller-div {
    display: flex;
    gap: 20px;
    align-items: center;
}