.chat-room {
    flex: 1;
    flex-direction: column;
    justify-content:flex-start;
    height: 100%;
    box-sizing: border-box;
}

.empty-chat-room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chat-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.message-input-div {
    display: flex;
    gap: 5px;
    padding: 0 10px;
    padding-right: 0;
    margin-top: 5px;
}

.message-button {
    width: 60px;
    border: none;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.message-button:hover {
    background-color: var(--color-primary);
}

.message-button:hover .message-icon {
    color: black;
}

.message-icon {
    color: var(--color-primary);
}

.message-field {
    width: 100%;
    padding: 16px 10px;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    margin-bottom: 0;
    box-sizing: border-box;
    font-size: medium;
    color: white;
    border-radius: 5px;
}

.file-upload-label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .file-preview-container {
    padding: 10px;
    border-top: 1px solid var(--color-primary);
    position: relative; 
    background-color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .file-preview-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .file-preview-container p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
  }
  
.clear-file-btn {
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.clear-file-btn {
    color: var(--color-primary);
}

.clear-file-btn:hover {
    transform: scale(1.4);
}

.reply-to-message-div {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--color-dark);
}

@media (max-width: 568px) {

    .show-in-phone-tab {
        display: block;
    }

    .dont-show-in-phone-tab {
        display: none;
    }

    .message-input-div {
        padding: 5px;
        box-sizing: border-box;
    }
}