.profile {
    height: 100%;
    overflow-y: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-left: 1px solid gray;
    box-sizing: border-box;
}

.profile-close-button {
    background-color: transparent;
    border: none;
    align-self: flex-end;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-close-button:hover {
    background-color: var(--color-highlight);
}

.profile-page-username {
    text-transform: uppercase;
    align-self: center;
}

.profile-page-email {
    align-self: center;
}

.profile-avatar {
    box-sizing: border-box;
    width: 200px;
    align-self: center;
}

.profile-page-heading {
    color: var(--color-primary);
}

.profile-page-media-div {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.profile-page-media-div::-webkit-scrollbar {
    background-color: black;
}

.profile-page-media-div::-webkit-scrollbar-thumb {
    background-color: var(--color-highlight);
    border-radius: 5px;
}

.profile-page-image {
    height: 200px;
    width: auto;
    border-radius: 10px;
}

.profile-page-video {
    height: 200px;
    border-radius: 10px;
}