.chatlist {
    width: 440px;
    border-right: 1px solid gray;
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.chatlist::-webkit-scrollbar {
    background-color: black;
}

.chatlist::-webkit-scrollbar-thumb {
    background-color: var(--color-highlight);
    border-radius: 5px;
}

.chatlist-top {
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid gray;
}

.logout-button {
    background-color: transparent;
    border: none;
    padding: 5px;
    padding-left: 0;
    cursor: pointer;
}

.logout-icon {
    color: white;
}

.logout-button:hover .logout-icon {
    color: var(--color-primary);
}

.add-chat-button {
    position: sticky;
    bottom: 10px;
    left: 80%;
    background-color: var(--color-primary);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.add-chat-button:hover {
    transform: translateY(-4px);
}

.add-chat-icon {
    color: var(--color-dark);
}

.add-user-dialog {
    margin: 10px;
    border-radius: 5px;
    background-color: var(--color-hover);
    padding: 10px;
}

.add-user-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.is-group-div {
    display: flex;
    align-items: center;
    gap: 10;
}

.email-input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--color-primary);
    background-color: transparent;
    color: white;
    padding: 20px 10px;
    font-size: medium;
    border-radius: 5px;
}

.add-group-check-box {
    width: 24px;
    height: 24px;
    accent-color: var(--color-primary);
}

.add-user-button {
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    padding: 10px;
    font-size: medium;
    color: white;
    cursor: pointer;
}

.add-user-buttons {
    display: flex;
    gap: 10px;
}